In [21]:
import pandas as pd
from autogluon.timeseries import TimeSeriesPredictor

In [22]:
ts = pd.read_parquet("/Users/akramchakrouni/Projects/time-series-forecasting-cluserting/data/raw/IBM.parquet")

ts

,Date,Open,High,Low,Close,Volume,item_id
0,2022-03-21 09:30:00,129.000000,129.740005,128.380005,129.029999,518710,IBM
1,2022-03-21 10:30:00,129.000000,129.002701,128.080002,128.199997,375178,IBM
2,2022-03-21 11:30:00,128.205002,128.389496,127.750000,128.149994,308731,IBM
3,2022-03-21 12:30:00,128.139999,128.149994,127.400002,127.669998,375414,IBM
4,2022-03-21 13:30:00,127.650002,127.910004,127.519997,127.839996,283658,IBM
...,...,...,...,...,...,...,...
5102,2025-02-20 11:30:00,263.250000,264.230011,262.429993,263.924988,366099,IBM
5103,2025-02-20 12:30:00,263.920013,264.239990,263.500000,263.790009,259259,IBM
5104,2025-02-20 13:30:00,263.785004,264.619995,263.640015,264.269989,302134,IBM
5105,2025-02-20 14:30:00,264.309998,265.089996,264.109985,264.940002,636268,IBM
5106,2025-02-20 15:30:00,264.925995,265.049988,264.380005,264.779999,714527,IBM

In [24]:
tssc = pd.read_parquet("/Users/akramchakrouni/Projects/time-series-forecasting-cluserting/data/chronos/AAPL.parquet")

tssc

                                Close      Open      High       Low    Volume
item_id timestamp
AAPL    2022-03-21 09:30:00  0.287312  0.293826  0.300777  0.288082  0.320497
        2022-03-21 10:30:00  0.308235  0.287211  0.304994  0.289602  0.265453
        2022-03-21 11:30:00  0.305077  0.308134  0.306400  0.305547  0.174637
        2022-03-21 12:30:00  0.290735  0.305050  0.301184  0.289158  0.177918
        2022-03-21 13:30:00  0.298127  0.290705  0.294858  0.291086  0.148927
...                               ...       ...       ...       ...       ...
        2025-02-20 11:30:00  0.905381  0.903413  0.899149  0.896321  0.071337
        2025-02-20 12:30:00  0.898432  0.905234  0.898779  0.897286  0.039382
        2025-02-20 13:30:00  0.897020  0.898322  0.892638  0.896247  0.031385
        2025-02-20 14:30:00  0.899732  0.896910  0.893896  0.894987  0.040976
        2025-02-20 15:30:00  0.901516  0.899585  0.895745  0.898769  0.055226

[5107 rows x 5 columns]

In [ ]:
predictor = TimeSeriesPredictor(freq='1h', prediction_length=400)
predictor.fit(
    train_data=ts_data,
    presets="bolt_base",
    hyperparameters={
        "Chronos": {"model_path": "amazon/chronos-bolt-base"},
    },
)

Frequency '1h' stored as 'h'
Beginning AutoGluon training...
AutoGluon will save models to '/Users/akramchakrouni/Projects/time-series-forecasting-cluserting/notebooks/AutogluonModels/ag-20250214_185606'
=================== System Info ===================
AutoGluon Version:  1.2
Python Version:     3.11.11
Operating System:   Darwin
Platform Machine:   arm64
Platform Version:   Darwin Kernel Version 24.2.0: Fri Dec  6 19:02:41 PST 2024; root:xnu-11215.61.5~2/RELEASE_ARM64_T6030
CPU Count:          11
GPU Count:          0
Memory Avail:       6.24 GB / 18.00 GB (34.7%)
Disk Space Avail:   377.24 GB / 460.43 GB (81.9%)
===================================================
Setting presets to: bolt_base

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'freq': 'h',
 'hyperparameters': {'Chronos': {'model_path': 'amazon/chronos-bolt-base'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 400,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

train_data with frequency 'None' has been resampled to frequency 'h'.
Provided train_data has 25468 rows (NaN fraction=80.0%), 1 time series. Median time series length is 25468 (min=25468, max=25468).

Provided data contains following columns:
	target: 'target'
	past_covariates:
		categorical:        []
		continuous (float): ['Open', 'High', 'Low', 'Volume']

To learn how to fix incorrectly inferred types, please see documentation for TimeSeriesPredictor.fit

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2025-02-14 19:56:06
Models that will be trained: ['Chronos[amazon__chronos-bolt-base]']
Training timeseries model Chronos[amazon__chronos-bolt-base].
	0.00    s     = Training runtime
Training complete. Models trained: ['Chronos[amazon__chronos-bolt-base]']
Total runtime: 0.00 s
Best model: Chronos[amazon__chronos-bolt-base]

In [44]:
forecast = predictor.predict(ts_data)
print(forecast.head())

data with frequency 'None' has been resampled to frequency 'h'.
Model not specified in predict, will default to the model with the best validation score: Chronos[amazon__chronos-bolt-base]

                                 mean       0.1       0.2       0.3       0.4  \
item_id timestamp
AAPL    2025-02-14 13:00:00  0.893889  0.882970  0.888185  0.890869  0.892642
        2025-02-14 14:00:00  0.892471  0.876608  0.883882  0.887842  0.890387
        2025-02-14 15:00:00  0.893507  0.874031  0.883028  0.887789  0.890990
        2025-02-14 16:00:00  0.897408  0.874104  0.884431  0.890120  0.894120
        2025-02-14 17:00:00  0.900429  0.873940  0.885616  0.892128  0.896698

                                  0.5       0.6       0.7       0.8       0.9
item_id timestamp
AAPL    2025-02-14 13:00:00  0.893889  0.895113  0.896587  0.898271  0.902394
        2025-02-14 14:00:00  0.892471  0.894437  0.896744  0.899629  0.905584
        2025-02-14 15:00:00  0.893507  0.896108  0.898883  0.902309  0.909636
        2025-02-14 16:00:00  0.897408  0.900443  0.903864  0.908041  0.916246
        2025-02-14 17:00:00  0.900429  0.903997  0.907671  0.912716  0.922292

In [45]:
evaluation_results = predictor.evaluate(ts_data)
print(evaluation_results)

data with frequency 'None' has been resampled to frequency 'h'.
Model not specified in predict, will default to the model with the best validation score: Chronos[amazon__chronos-bolt-base]

{'WQL': -0.030171280564278553}

In [46]:
import matplotlib.pyplot as plt

# Suppose forecast has a similar structure to your original ts_data
plt.figure(figsize=(12, 6))
plt.plot(ts_data.query("item_id == 'AAPL'")['timestamp'], ts_data.query("item_id == 'AAPL'")['target'], label="Actual")
plt.plot(forecast.query("item_id == 'AAPL'")['timestamp'], forecast.query("item_id == 'AAPL'")['target'], label="Forecast")
plt.legend()
plt.xlabel("Timestamp")
plt.ylabel("Target")
plt.title("AAPL Forecast vs Actual")
plt.xticks(rotation=45)
plt.show()

KeyError: 'timestamp'

In [11]:
import pandas as pd

file_path = "/Users/akramchakrouni/Projects/time-series-forecasting-cluserting/data/chronos/PG.parquet"  # Adjust the path accordingly
df = pd.read_parquet(file_path)

# Check if "item_id" column exists
print("item_id" in df.columns)

# Display first few rows
print(df.head())

False
      Close      Open      High       Low    Volume
0  0.485739  0.483304  0.495127  0.481186  0.129831
1  0.475826  0.486261  0.487612  0.480839  0.070048
2  0.473217  0.476174  0.475287  0.470609  0.049314
3  0.478087  0.473217  0.476331  0.469135  0.062507
4  0.477217  0.478000  0.479464  0.481359  0.064993