In [31]:
import pandas as pd

ts1 = pd.read_parquet(r"/Users/akramchakrouni/Projects/time-series-forecasting-cluserting/data/chronos/AAPL.parquet")
ts2 = pd.read_parquet(r"/Users/akramchakrouni/Projects/time-series-forecasting-cluserting/data/chronos/ADBE.parquet")
df_combined = pd.concat([ts1, ts2], ignore_index=False)
df_combined

                       Close      Open      High       Low    Volume
item_id timestamp
AAPL    2022-04-18  0.244380  0.258724  0.302099  0.278239  0.439970
        2022-04-25  0.212346  0.236805  0.261882  0.231927  0.738427
        2022-05-02  0.209483  0.202284  0.263995  0.215959  0.784090
        2022-05-09  0.132465  0.190132  0.192241  0.108003  1.000000
        2022-05-16  0.058695  0.116596  0.139573  0.061092  0.750276
...                      ...       ...       ...       ...       ...
ADBE    2025-02-10  0.514406  0.453772  0.506083  0.486812  0.202074
        2025-02-17  0.470353  0.519732  0.502161  0.491821  0.109577
        2025-02-24  0.454333  0.470290  0.454415  0.466364  0.152669
        2025-03-03  0.484481  0.457718  0.470474  0.474070  0.154451
        2025-03-10  0.302175  0.464652  0.445513  0.295667  0.480201

[304 rows x 5 columns]

In [ ]:
# import os


# input_dir = '/Users/akramchakrouni/Projects/time-series-forecasting-cluserting/clusters/embeddings'

# for cluster_name in os.listdir(input_dir):
#     cluster_path = os.path.join(input_dir, cluster_name)
#     print(cluster_path)

#     if os.path.isdir(cluster_path) and cluster_name.startswith('cluster_'):
#         dfs = []

#         for file in os.listdir(cluster_path):
#             if file.endswith('.parquet'):
#                 file_path = os.path.join(cluster_path, file)
#                 df = pd.read_parquet(file_path)
#                 dfs.append(df)

#         if dfs:
#             df_combined = pd.concat(dfs, ignore_index=False)
            
#             # Optional: validate index is multi-index
#             if not isinstance(df_combined.index, pd.MultiIndex):
#                 raise ValueError(f"{cluster_name}: Combined DataFrame does not have a MultiIndex.")

#             # Save combined DataFrame
#             output_path = os.path.join(input_dir, f"{cluster_name}_combined.parquet")
#             df_combined.to_parquet(output_path)
#             print(f"Saved: {output_path}")

In [38]:
import os
import pandas as pd

input_dir = '/Users/akramchakrouni/Projects/time-series-forecasting-cluserting/clusters/statistical'
output_dir = '/Users/akramchakrouni/Projects/time-series-forecasting-cluserting/clusters_appended_ts/statistical'

# Ensure output directory exists
os.makedirs(output_dir, exist_ok=True)

# Sort cluster folders numerically
cluster_dirs = sorted(
    [d for d in os.listdir(input_dir) if d.startswith('cluster_')],
    key=lambda x: int(x.split('_')[1])
)

for cluster_name in cluster_dirs:
    cluster_path = os.path.join(input_dir, cluster_name)
    print(f"Processing: {cluster_path}")

    if os.path.isdir(cluster_path):
        dfs = []

        for file in os.listdir(cluster_path):
            if file.endswith('.parquet'):
                file_path = os.path.join(cluster_path, file)
                df = pd.read_parquet(file_path)
                dfs.append(df)

        if dfs:
            df_combined = pd.concat(dfs, ignore_index=False)

            if not isinstance(df_combined.index, pd.MultiIndex):
                raise ValueError(f"{cluster_name}: Combined DataFrame does not have a MultiIndex.")

            # Save to specified output folder
            output_path = os.path.join(output_dir, f"{cluster_name}_combined.parquet")
            df_combined.to_parquet(output_path)
            print(f"Saved: {output_path}")

Processing: /Users/akramchakrouni/Projects/time-series-forecasting-cluserting/clusters/statistical/cluster_1
Saved: /Users/akramchakrouni/Projects/time-series-forecasting-cluserting/clusters_appended_ts/statistical/cluster_1_combined.parquet
Processing: /Users/akramchakrouni/Projects/time-series-forecasting-cluserting/clusters/statistical/cluster_2
Saved: /Users/akramchakrouni/Projects/time-series-forecasting-cluserting/clusters_appended_ts/statistical/cluster_2_combined.parquet
Processing: /Users/akramchakrouni/Projects/time-series-forecasting-cluserting/clusters/statistical/cluster_3
Saved: /Users/akramchakrouni/Projects/time-series-forecasting-cluserting/clusters_appended_ts/statistical/cluster_3_combined.parquet
Processing: /Users/akramchakrouni/Projects/time-series-forecasting-cluserting/clusters/statistical/cluster_4
Saved: /Users/akramchakrouni/Projects/time-series-forecasting-cluserting/clusters_appended_ts/statistical/cluster_4_combined.parquet

In [35]:
comby = pd.read_parquet(r"/Users/akramchakrouni/Projects/time-series-forecasting-cluserting/clusters_appended_ts/embeddings/cluster_0_combined.parquet")
comby

                                Close      Open      High       Low    Volume
item_id timestamp
BMY     2022-03-21 09:30:00  0.765269  0.765309  0.776546  0.765328  0.269982
        2022-03-21 10:30:00  0.756571  0.765189  0.764629  0.763164  0.178066
        2022-03-21 11:30:00  0.749660  0.756493  0.755929  0.756432  0.123280
        2022-03-21 12:30:00  0.748231  0.749583  0.750089  0.753946  0.138182
        2022-03-21 13:30:00  0.748588  0.748153  0.748183  0.751382  0.122192
...                               ...       ...       ...       ...       ...
PG      2025-02-20 12:30:00  0.761217  0.763826  0.762617  0.766256  0.050075
        2025-02-20 13:30:00  0.764522  0.761391  0.762617  0.767123  0.068116
        2025-02-20 14:30:00  0.768696  0.764609  0.765750  0.767210  0.064506
        2025-02-20 15:30:00  0.774087  0.768696  0.771493  0.771805  0.100010
        2025-02-21 09:30:00  0.784696  0.784696  0.781065  0.791920  0.000000

[56188 rows x 5 columns]

In [36]:
unique_item_ids = comby.index.get_level_values('item_id').unique()
unique_item_ids

Index(['BMY', 'NVDA', 'XOM', 'GM', 'AAPL', 'UL', 'VZ', 'ADBE', 'MSFT', 'ORCL',
       'PG'],
      dtype='object', name='item_id')