In [3]:
from autogluon.timeseries import TimeSeriesDataFrame, TimeSeriesPredictor

/Users/akramchakrouni/Projects/time-series-forecasting-cluserting/.venv/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
data = TimeSeriesDataFrame.from_path(
    "https://autogluon.s3.amazonaws.com/datasets/timeseries/australian_electricity_subset/test.csv"
)
data.head()

                                  target
item_id timestamp
T000000 2013-03-10 00:00:00  5207.959961
        2013-03-10 00:30:00  5002.275879
        2013-03-10 01:00:00  4747.569824
        2013-03-10 01:30:00  4544.880859
        2013-03-10 02:00:00  4425.952148

In [4]:
data.loc["T000004"].head(3)

                         target
timestamp
2013-03-10 00:00:00  337.647003
2013-03-10 00:30:00  329.144409
2013-03-10 01:00:00  322.825012

In [3]:
data.dtypes

target    float64
dtype: object

In [17]:
prediction_length = 48
train_data, test_data = data.train_test_split(prediction_length)

predictor = TimeSeriesPredictor(prediction_length=prediction_length).fit(
    train_data, presets="bolt_small",
)

Sorting the dataframe index before generating the train/test split.
Beginning AutoGluon training...
AutoGluon will save models to '/Users/akramchakrouni/Projects/time-series-forecasting-cluserting/notebooks/akram/AutogluonModels/ag-20250328_105321'
=================== System Info ===================
AutoGluon Version:  1.2
Python Version:     3.11.11
Operating System:   Darwin
Platform Machine:   arm64
Platform Version:   Darwin Kernel Version 24.3.0: Thu Jan  2 20:24:24 PST 2025; root:xnu-11215.81.4~3/RELEASE_ARM64_T6030
CPU Count:          11
GPU Count:          0
Memory Avail:       7.05 GB / 18.00 GB (39.2%)
Disk Space Avail:   383.95 GB / 460.43 GB (83.4%)
===================================================
Setting presets to: bolt_small

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'hyperparameters': {'Chronos': {'model_path': 'bolt_small'}},
 'known_covariates_names': [],
 'num_val_windows': 1,
 'prediction_length': 48,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': True,
 'target': 'target',
 'verbosity': 2}

Inferred time series frequency: '30min'
Provided train_data has 172800 rows, 5 time series. Median time series length is 34560 (min=34560, max=34560).

Provided data contains following columns:
	target: 'target'

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2025-03-28 11:53:25
Models that will be trained: ['Chronos[bolt_small]']
Training timeseries model Chronos[bolt_small].
	8.08    s     = Training runtime
Training complete. Models trained: ['Chronos[bolt_small]']
Total runtime: 8.08 s
Best model: Chronos[bolt_small]

In [3]:
predictions = predictor.predict(train_data)
predictor.plot(
    data=data,
    predictions=predictions,
    item_ids=data.item_ids[:2],
    max_history_length=200,
);

NameError: name 'predictor' is not defined

In [4]:
data = TimeSeriesDataFrame.from_path(
    "https://autogluon.s3.amazonaws.com/datasets/timeseries/grocery_sales/test.csv",
)
data.head()

                     scaled_price  promotion_email  promotion_homepage  \
item_id  timestamp
1062_101 2018-01-01      0.879130              0.0                 0.0
         2018-01-08      0.994517              0.0                 0.0
         2018-01-15      1.005513              0.0                 0.0
         2018-01-22      1.000000              0.0                 0.0
         2018-01-29      0.883309              0.0                 0.0

                     unit_sales
item_id  timestamp
1062_101 2018-01-01       636.0
         2018-01-08       123.0
         2018-01-15       391.0
         2018-01-22       339.0
         2018-01-29       661.0

In [5]:
type(data)

autogluon.timeseries.dataset.ts_dataframe.TimeSeriesDataFrame